In [1]:
"""Импортируем все нужные билбиотеки"""
import numpy as np
import pandas as pd
from itertools import combinations
from collections import Counter

In [2]:
# добавим фунции, которые будем позже использовать для обработки данных
def month_strip(text):
    """фунция находит номер месяца в дате релиза, и возвращает его"""
    c = text.find("/")
    text = int(text[0:c])
    return text
def season_detection(int):
    """фунция возвращает название сезона, в зависимости от номера месяца"""
    season = ""
    if 2<int<6:
        season = "Spring"
    elif 5<int<9:
        season = "Summer"
    elif 8<int<12:
        season = "Autumn"
    else:
        season = "Winter"
    return season
def char_count(some_str):
    """фнукция считаем колличество символов"""
    some_str = str(some_str)
    some_str = len(some_str.replace(" ", ""))
    return some_str
def len_of_words(t):
    "функция счтает колличество слов"
    len_w=len(t.split())
    return len_w

In [3]:
df = pd.read_csv('D:\movie_bd_v5.csv')  # загружаем датасет 
df.sample(5)                            # смотрим на него

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010
1727,tt0465602,39000000,26820641,Shoot 'Em Up,Clive Owen|Monica Bellucci|Paul Giamatti|Steph...,Michael Davis,Just another family man making a living.,A man named Mr. Smith delivers a woman's baby ...,86,Action|Thriller|Comedy|Crime,New Line Cinema|Angry Films,7/26/2007,6.2,2007
791,tt1265990,16000000,40492759,The Roommate,Minka Kelly|Leighton Meester|Cam Gigandet|Aly ...,Christian E. Christiansen,"2,000 colleges. 8 million roommates. Which one...","When Sara (Minka Kelly), a young design studen...",91,Thriller|Drama|Horror,Vertigo Entertainment|Screen Gems,2/4/2011,5.5,2011
1451,tt0454848,45000000,184376254,Inside Man,Denzel Washington|Clive Owen|Jodie Foster|Chri...,Spike Lee,It looked like the perfect bank robbery. But y...,Bank robber Dalton Russell enters a Manhattan ...,129,Crime|Drama|Thriller,Imagine Entertainment|Universal Pictures,3/23/2006,7.2,2006
245,tt0438488,200000000,371353001,Terminator Salvation,Christian Bale|Sam Worthington|Anton Yelchin|M...,McG,The End Begins.,"All grown up in post-apocalyptic 2018, John Co...",115,Drama|Action|Thriller|Science Fiction,Columbia Pictures|The Halcyon Company|Wonderla...,5/20/2009,5.8,2009

In [4]:
df.genres

0       Action|Adventure|Science Fiction|Thriller
1       Action|Adventure|Science Fiction|Thriller
2              Adventure|Science Fiction|Thriller
3        Action|Adventure|Science Fiction|Fantasy
4                           Action|Crime|Thriller
                          ...
1884             Adventure|Action|Science Fiction
1885                        Horror|Family|Foreign
1886     Adventure|Animation|Action|Comedy|Family
1887                                 Comedy|Drama
1888                                     Thriller
Name: genres, Length: 1889, dtype: object

In [5]:
df.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
df["profit"]=df["revenue"]-df["budget"]  # добавим колонку профит
df["month"] = df.release_date.apply(month_strip) # колонка с  номером месяца
df["season"] = df.month.apply(season_detection) # колонка с временем года
df["name_l"] =df.original_title.apply(char_count)# коллонка с колличеством символов в
df["overview_l"] = df.overview.apply(len_of_words)# коллонка с  колличетсвом слов

#the time given in the dataset is in string format.
#So we need to change this in datetime format

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример:
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
df[df.budget==df.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,season,name_l,overview_l
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5,Spring,37,75

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [11]:
df[df.runtime==df.runtime.max()]  # простая фильтрация датасета

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,season,name_l,overview_l
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2,Winter,15,48

# 3. Какой из фильмов самый короткий (в минутах)?

answers['3'] = 'Winnie the Pooh (tt1449283) '

In [12]:
answers['3'] = 'Winnie the Pooh (tt1449283) '

In [13]:
df[df.runtime==df.runtime.min()] # простая фильтрация датафрейма

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,season,name_l,overview_l
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4,Spring,13,52

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '110'

In [15]:
df.runtime.mean()  # считаем среднее по колонке датасета

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '107 '

In [17]:
print(df.runtime.median()) # считаем медиану по колонке датасета

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6'] = 'Avatar (tt0499549)'
# лучше код получения столбца profit вынести в Предобработку что в начале

In [19]:
df[df.profit==df.profit.max()] # простая фильтрация датафрейма

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,season,name_l,overview_l
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12,Winter,6,28

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [21]:
df[df.profit==df.profit.min()] # простая фильтрация датафрейма

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,season,name_l,overview_l
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,Summer,13,68

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = '1478'

In [23]:
len(df[df.profit>0]) # сперва фильтруем датасет, а за тем находим его длинну

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [25]:
"""
я принял решение дополнительные временные датасеты писать прямо в коде, а не в предобработке в начале,
поскольку так код читабельнее
"""
df2008=df[df.release_year==2008] # создадим дополнительный датасет только с 2008 годом
df2008[df2008.profit==df2008.profit.max()]  # используем дополнительный датасет и фильтруем его

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,season,name_l,overview_l
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,Summer,13,67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [27]:
dft=df[(df.release_year >= 2012) & (df.release_year<=2014) ]  # также создаем дополнительный датасет только с 2012 - 2014 годами
dft[dft.profit==dft.profit.min()] # фильтруем

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,season,name_l,overview_l
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,Summer,13,68

# 11. Какого жанра фильмов больше всего?

In [28]:
answers['11'] = 'Drama'
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [29]:
df2 = df             # создаем дополнительный датафрейм для функции explode
df2.genres = df2.genres.str.split('|') # делаем лист
df2 = df2.explode('genres') # применяем explode

print(df2.genres.mode()[0]) # смотрим на самый частый жанр

Drama

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = 'Drama'

In [31]:
print(df2[df2.profit > 0].groupby("genres")["imdb_id"].count().sort_values(ascending=False)) #сперва выбераем прибыльные затем группируем по жанрам и считаем

genres
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: imdb_id, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
answers['13'] = 'Peter Jackson'

In [33]:
df2.director = df2.director.str.split("|")
df2 = df2.explode("director")  # делаем explode по дирректору

print(df2.groupby(["director"])["revenue"].sum().sort_values())  # группируем по режесеру, суммируем и сортируем

director
Susanne Bier             2849142
Don McKellar             3430018
Keanu Reeves             4109882
Paul Schrader            4124132
David MichÃ´d            4590846
                        ...
Michael Bay          12370445156
J.J. Abrams          12805687973
David Yates          13401099613
Christopher Nolan    16196885522
Peter Jackson        17464735681
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
answers['14'] = 'Robert Rodriguez'

In [35]:
print(df2[df2.genres == "Action"].groupby(["director"]) # фильтруем датасет только по филомам Action, затем группируем по режиссеру
      ["imdb_id"].count().sort_values(ascending=False)) # после чего считаем колличество упоминаний

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: imdb_id, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
answers['15'] = 'Chris Hemsworth'

In [37]:
df_2012 = df[df.release_year == 2012]      # выбираем лишь 2012 год
df_2012.cast = df_2012.cast.str.split("|") 
df_2012 = df_2012.explode("cast")          # exlplode по cast
df_2012_cast = df_2012.groupby(["cast"])["revenue"].sum().sort_values(ascending=False) # группируем, суммируем и сортируем

print(df_2012_cast)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

D:\Conda\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
answers['16'] = 'Matt Damon'

In [39]:
df_cast = df   # доболнительный датафрейм
df_cast.cast = df_cast.cast.str.split("|")      
df_cast = df_cast.explode("cast")   # exlplode по cast
df_cast_budget = df_cast[df_cast.budget > df_cast.budget.mean()]
print(df_cast_budget.groupby(["cast"])["imdb_id"].count().sort_values(ascending=False)) # по такомоу же алгоритму находим необходимого актера

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: imdb_id, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
answers['17'] = 'Action'

In [41]:
df2.cast = df2.cast.str.split("|") # используем уже готовый дополнительный датафрейм
df2 = df2.explode("cast") # делаем explode по актерам в датафрейме, где уже есть explоde по жанрам
df2[df2.cast == "Nicolas Cage"].genres.mode() # фильтруем Николоса Кейджа и смотрим на самое популярное значение

0    Action
dtype: object

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [43]:
df_companies = df.copy()
df_companies.production_companies = df_companies.production_companies.str.split("|")
df_companies = df_companies.explode("production_companies")
df_companies_paramount = df_companies[df_companies.production_companies == "Paramount Pictures"]

df_companies_paramount[df_companies_paramount.profit == df_companies_paramount.profit.min()]  # по аналогичному методу находим ответ

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,season,name_l,overview_l
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures,7/19/2002,6.0,2002,-64831034,7,Summer,18,23

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
answers['19'] = '2015'

In [45]:
df_year = df.groupby(["release_year"])["revenue"].sum() # группируем по году, потом считаем суммарные кассовые сборы 
print(df_year.sort_values()) # сортируем чтобы найти самый успешный фильм

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2006    14775042320
2005    15309425558
2004    15663430720
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
answers['20'] = '2014'

In [47]:
df_companies_Warner = df_companies[df_companies.production_companies.str.contains("Warner Bros")] # используем уже обработанный датафрем и выбираем в нем нужную студию
df_Warner_year = df_companies_Warner.groupby(["release_year"])["profit"].sum().sort_values() #  # группируем по году, потом считаем суммарный профит

print(df_Warner_year[-1:-2:-1]) # находим самый прибыльный датафрейм

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
answers['21'] = 'Сентябрь'

In [49]:
print(df.month.value_counts()) # смотрим самыый популярный месяц

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
answers['22'] = "450 "

In [51]:
print(df[df.season == "Summer"]["imdb_id"].count()) # смотрим самый популярный сезон

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
answers['23'] = "Peter Jackson"

In [53]:
df3=df # дополнительоынй датафрейм
df3.director = df3.director.str.split("|")
df3 = df3.explode("director") # explode по режисеру

print(df3[df3.season == "Winter"].director.mode()[0]) # фильтруем по зиме, и находим самого частого режисера

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
answers['24'] = "Four By Two Productions"

In [55]:
print(df_companies.groupby(["production_companies"])["name_l"].mean().sort_values()) # группируем по студии, 
                                    # затем выбираем столбец с длинной символов, находим среднее и фильтруем

production_companies
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Polsky Films                  38.0
Dos Corazones                 39.0
Museum Canada Productions     39.0
Jim Henson Company, The       50.0
Four By Two Productions       72.0
Name: name_l, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
answers['25'] = "Midnight Picture Show"

In [57]:
print(df_companies.groupby(["production_companies"])["overview_l"].mean().sort_values())# группируем по студии, 
                                    # затем выбираем столбец с длинной слов, находим среднее и фильтруем

production_companies
Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Henceforth                                13.0
Phantom Four                              13.0
London Boulevard                          13.0
                                         ...
Brookwell-McNamara Entertainment         156.0
Heineken Branded Entertainment           159.0
98 MPH Productions                       159.0
Room 9 Entertainment                     161.0
Midnight Picture Show                    175.0
Name: overview_l, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [58]:
answers['26'] = "Inside Out, The Dark Knight, 12 Years a Slave"

In [59]:
border = np.quantile(df.vote_average, 0.99)           # делим по квартилям, чтобы получить 1%

print(df[df.vote_average > border]["original_title"]) # фильтруем и нахолидим ответ

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

answers['27'] = 'Daniel Radcliffe & Rupert Grint '
pairs = Counter()
for i in range(0,len(df)):
    artists = df.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1


print(pairs.most_common(5))

In [60]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint '

In [61]:
pairs = Counter()                                    # создаем особый словарь   
for i in range(0,len(df)):                           # делаем цикл, проходим по каждому списку с актерами 
    artists = df.cast[i]                             
    for j in list(combinations(artists, 2)):         # проверяем все возможные комбинации пар, 
        if j not in pairs:                           
            pairs[j] = 1                             # если пары нету, то присваиваем ей 1
        else: 
            pairs[j] += 1                            # если пара уже была, то добавялем 1


print(pairs.most_common(5))                          # смотрим на самые популярные пары

[(('Daniel Radcliffe', 'Rupert Grint'), 8), (('Daniel Radcliffe', 'Emma Watson'), 8), (('Rupert Grint', 'Emma Watson'), 7), (('Ben Stiller', 'Owen Wilson'), 6), (('Johnny Depp', 'Helena Bonham Carter'), 6)]

ВАРИАНТ 2

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283) ',
 '4': '110',
 '5': '107 ',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450 ',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint '}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [64]:
"""Все ответы правильные 27/27"""

'Все ответы правильные 27/27'